
/* Base CSS */

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-color: white;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

/* Utility CSS */

.hidden {
    display: none;
}

/* Header */

  h1 {
    display: flex;
    justify-content: center;
  }

#see_more {
  display: flex;
  justify-content: end;
}

#main_nav ul {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
}
img {
  max-width: 1440px;
}

/* Hero Section */

#hero_box {
    position: absolute; 
    margin-top: 200px ;
    margin-left: 60px;
    padding: 60px 30px 60px 10px;
    background: white;
}

#hero_image {
  padding:0px;
}

/* Categories */

#categories {
  justify-content: center;
}

#cat_desc {
  display:flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;

}

#cat_desc h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}

#cat_art {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#cat_art article {
  text-align: center;
}

#cat_art article a {
  display: block;
  margin: 10px;

}


/* Collections */

#collections {
  justify-content: center;
}

#col_desc {
  display:flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;

}

#col_desc h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}

#col_art {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#col_art article {
  text-align: center;
}

#col_art article a {
  display: block;
  margin: 10px;

}






