
/* Base CSS */

body { 
    background-color: rgba(222, 227, 231, 1);
    font-size: 17px;
    color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 6px;
}

/* Utility CSS */

.hidden {
    display: none;
}

/* Header */

header {
  background-color: rgba(170, 189, 200, 1);
}

  h1 {
    display: flex;
    justify-content: center;
    font-size: 38px;
    margin-bottom: 0px;
  }

#see_more {
  display: flex;
  justify-content: end;
}

#main_nav ul {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
}
img {
  max-width: 1440px;
}

/* Hero Section */

#hero_box {
    position: absolute; 
    margin-top: 200px ;
    margin-left: 60px;
    padding: 60px 30px 60px 10px;
    background: white;
    border-style: solid;
    border-color: rgb(52, 100, 120, 1);
    border-width: 2px;
}

#hero_image {
  margin: 0px;
  padding:0px;
}

/* Categories */

#categories {
  justify-content: center;
}

#cat_desc {
  display:flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  padding: 10px 15px 20px;
  background: whitesmoke;
}

#cat_desc h2 {
  margin-top: 10px;
  margin-bottom: 15px;
}

#cat_art {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#cat_art article {
  text-align: center;
}


#cat_art article a {
  display: block;
  margin: 8px;

}


/* Collections */

#collections {
  justify-content: center;
}

#col_desc {
  display:flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  padding: 10px 15px 20px;
  background: whitesmoke;

}

#col_desc h2 {
  margin-top: 10px;
  margin-bottom: 15px;
}

#col_art {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#col_art article {
  text-align: center;
}


#col_art article a {
  display: block;
  margin: 10px;

}

/* Reviws and Consultations */


/* Reviews */
#reviews {
  border-style: solid;
  border-color: rgb(52, 100, 120, 1);
  border-width: 2px;
}

#customers {
  display: grid;
  align-items: center;
  align-content: center;
}
#reviews #customers {
  margin-left: 30px;
}

#reviews img {
  margin-left: 320px ;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-color: rgb(52, 100, 120, 1);
  border-width: 2px;
  border-top: 0px;
  border-bottom: 0px;
}


/* Consultations */

#consult {
  border-style: solid;
  border-color: rgb(52, 100, 120, 1);
  border-width: 2px;
  padding-left: 0px;
}

#tech {
  display: grid;
  align-items: center;
  align-content: center;
  text-align: end;
}
#tech #consult {
  margin-right: 30px;
}

#consult img {
  margin-right: 320px ;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-color: rgb(52, 100, 120, 1);
  border-width: 2px;
  border-top: 0px;
  border-bottom: 0px;
}

/* Share Your Story */

#stories {
  margin: 20px;
  justify-content: center;
}

#insta {
  display: grid;
  justify-content: center;
  justify-items: center;
}

#insta img {
  border-style: solid;
  border-color: rgb(52, 100, 120, 1);
  border-width: 2px;
}

#insta a {
  border-style: solid;
  border-color: rgb(52, 100, 120, 1);
  border-width: 2px;
  padding:10px;
}

#insta h3, p, img, a {
  margin: 10px;
}

#insta a {
  margin-top: 10px;
}


/* Footer */

footer {
  border-style: solid;
  border-color: rgb(52, 100, 120, 1);
  border-width: 2px;
  background-color: whitesmoke;
  padding-top: 20px;
}

footer article {
  margin-left: 50px;
}
footer h2 {
  margin-left: 10px;
}

footer nav, li {
  display: grid;
}

footer ul {
  list-style-type: none;
  padding: 0px;
}

footer .grid-con {
  padding:0px;
}

#copyright {
  margin-left: 20px;

}

#foot {
  border-style: solid;
  border-color: rgb(52, 100, 120, 1);
  border-width: 2px;
  background-color: rgba(52, 100, 120, 1);
}


/* Contact */

/* Form */

#contact {
  
  margin: 30px;
}

#contact h2, p, form {
  margin: 15px;
}

/* Descriptions and Image */

#cont_desc {
  padding: 20px;
  background-color: whitesmoke;
}

#cont_desc p {
  margin: 15px;
}

#num {
  text-decoration: underline;
  color:rgba(52, 100, 120, 1) ;
}